<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Artikel</title>
</head>

<body>
    <% include ../navbar %>

    <center>
        <h1>Planet 9</h1>
    </center>
    <h3 style="font-weight: normal">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea harum placeat
        reprehenderit id perferendis sapiente voluptate nobis eaque tempora debitis. At accusamus quibusdam nulla vitae
        sapiente repudiandae ut quia ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque qui aut
        molestiae quia autem aperiam? Pariatur inventore eaque error, consequatur ad quisquam! Atque aspernatur
        voluptates officia quod veniam exercitationem culpa.</h3>
    <h3 style="font-weight: normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse voluptate, odit sequi
        perferendis illo iste sint magnam voluptatibus doloremque soluta id non harum obcaecati, velit autem ipsa? Ut,
        eaque eius?</h3>

    <center>
        <a href="/artikel">Kembali</a>
    </center>
</body>

</html>