<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Artikel</title>
</head>
<body>
    <% include ../navbar %>

    <h1>Artikel terbaru</h1>
    <ul>
        <li><a href="/artikel1">Ditemukan planet baru di Galaksi Bimasakti!</a></li>
        <li><a href="/artikel2">Misteri dari Planet 9</a></li>
        <li><a href="/artikel3">Sisi gelap dari Bulan</a></li>
    </ul>
</body>
</html>