<!DOCTYPE html>
<html>
  <head>
    <title>Beranda | <%= nama %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>
    <% include navbar %>
    <center>
    <h1>Selamat datang!</h1>
    <h2>Artikel TATA SURYA 4.0</h2>
    <br />
    <h2 style="font-weight: normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa alias, molestias placeat dolorum mollitia, ducimus in numquam impedit veritatis ipsum facilis maiores harum nam nulla illum consequatur fugit accusamus recusandae!</h2>
    <a href="/artikel">Menuju Artikel</a>
    </center>
  </body>
</html>
