<link rel="stylesheet" href="/navbarStyle.css" />

<ul class="navbar">
  <li class="navbar">
    <a class="navbar" href="/">Beranda</a>
  </li>
  <li class="navbar">
    <a class="navbar" href="/artikel">Daftar Artikel</a>
  </li>
  <li class="navbar">
    <a class="navbar" href="/saya">Tentang Saya</a>
  </li>
</ul>
