
<!DOCTYPE html>
<html>

<head>
    <title>Tentang | Artikel</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
</head>

<body>
    <% include navbar %>
    <center>
        <h1>Tentang Saya</h1>
        <h2>Hasimy</h2>
        <br />
        <h2 style="font-weight: normal">Saya Hasimy dan saya dari Tulungagung tapi Malang.</h2>
            
    </center>
</body>

</html>